extends layout

block content
  div(id="headerDiv")
    h1 Table Tennis Rankings (#{location})

  div(id="leftPanel")
    fieldset(id="fsRankingsTable")
      legend Current Rankings
      table(id="tableRankings")
        thead
          tr
            th Player
            th Played
            th Won
            th RankingScore
        tbody
        - for player in rankingTableJSON
          tr
            td(id="rankingTableColumn") #{player.player}
            td(id="rankingTableColumn") #{player.totalPlayed}
            td(id="rankingTableColumn") #{player.totalWon}
            td(id="rankingTableColumn") #{player.ranking}

    div(id="spacingTables")
    fieldset(id="fsPendingPlayers")
      legend Pending Players
      table(id="tablePendingRankings")
        thead
          tr
            th Player
            th Played
            th Won
            th RankingScore
        tbody
        - for pplayer in pendingTableJSON
          tr
            td(id="pendingTableColumn") #{pplayer.player}
            td(id="pendingTableColumn") #{pplayer.totalPlayed}
            td(id="pendingTableColumn") #{pplayer.totalWon}
            td(id="pendingTableColumn") #{pplayer.ranking}

  div(id="rightPanel")

    fieldset(id="fsResultForm")
      legend Add Result
      label
        input(type="radio" name="rbSinglesOrDoubles" id = "rbSinglesOrDoubles_Singles" class="rbTeamSize" value="1")
        | Singles
      label
        input(type="radio" name="rbSinglesOrDoubles" id = "rbSinglesOrDoubles_Doubles" class="rbTeamSize" value="2")
        | Doubles

      div(id="spacingButtons")

      div(class=playerSelects)
        label Pair 1 Player 1
          select(id="Pair1Player1", disabled="true")
      div(class=playerSelects)
        label Pair 1 Player 2
          select(id="Pair1Player2", disabled="true")
      div(class=playerSelects)
        label Pair 2 Player 1
          select(id="Pair2Player1", disabled="true")
      div(class=playerSelects)
        label Pair 2 Player 2
          select(id="Pair2Player2", disabled="true")

      div(id="spacingButtons")

      input(id="addResultButton" type="button" value="Add Result")
      div(id="divAddPlayerError" class="errorMesg")

    div(id="spacingTables")

    fieldset(id="fsPlayerForm")
      legend Add Player
      div(id="addPlayerInput")
        label(id="lblPlayerName") Player Name:
        input(id="txtPlayerName" name="txtPlayerName" type="text")
      div(id="spacingButtons")
      input(id="addPlayerButton" type="button" value="Add Player")
      div(id="divAddPlayerError" class="errorMesg")

  script(src='/js/currentRankings.js')
